<div id="father">

    <nav class="navbar navbar-expand-lg navbar-light">
    
        <div class="container">
        
        
            <a class="navbar-brand wow pulse" href="#">
              ر<span>أ</span>يك
            </a>
            <button class="navbar-toggler" style="border:0;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i style="color:#FFF" class="fa fa-bars" aria-hidden="true"></i>
          </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                
                  <li class="nav-item">
                      <a class="nav-link" id="showstory" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">اضافة موضوع</a>
                    </li>

                    
                    <li class="nav-item">
                        <a class="nav-link" id="myBtn" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">رابط حسابك</a>
                      </li>

          


                      
                      <li class="nav-item active">
                          <a class="nav-link" (click)="logout()" >تسجيل خروج <span class="sr-only">(current)</span></a>
                        </li>
                           
                <li class="nav-item" style="position: relative;text-align: right">
                        <input type="file" (change)="takePhoto($event)" accept="image/*">
                        <img [src]="image" width="40" height="40"  style="border-radius: 50%;" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    </li>
        
              </ul>
         
            </div>
        </div>
        
          </nav>
        

<!-- start header -->

<div class="header">



<div class="container">
<div class="row">


<div class="col-sm">

<div class="headcard">


        <div class="uptitle">
                <h2>الرسائل الواردة</h2>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>

            </div>

<div class="card" *ngFor="let item of list | async | reverse">

<div class="ctitle">

<span>
<i (click)="delete(item.key)" class="fa fa-trash-o" aria-hidden="true"></i>
</span>

</div>

<div class="headtext">
<p>
{{item.payload.val().text}}
</p>
</div>

<div class="cardbotoom">
<span>{{item.payload.val().date}}
  </span>    
</div>

</div>    


<!-- another -->



</div>

</div>

</div>
</div>

</div>

</div>


<!-- store -->




<div class="load">

    <div class="cssload-thecube">
        <div class="cssload-cube cssload-c1"></div>
        <div class="cssload-cube cssload-c2"></div>
        <div class="cssload-cube cssload-c4"></div>
        <div class="cssload-cube cssload-c3"></div>
      </div>

</div>




<!-- The Modal -->

<div class="link-mod">

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
              <h2>رابط حسابك</h2>
              <span class="close">&times;</span>

            </div>
            <div class="modal-body">
                <div class="inputs">
                    <input type="text" placeholder="رابط الحساب" [value]="url" id="acurl">
                    <i (click)="copytext()" class="fa fa-clone" aria-hidden="true"></i>
                  
                   </div>
            </div>
            
          </div>
      
      </div>

</div>


<!-- story-->


<div class="story-mod">

    <div id="myModal2" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
              <h2>اضافة موضوع</h2>
              <span class="close" id="hidestory">&times;</span>

            </div>
            <div class="modal-body">
                <input type="text" placeholder="العنوان" #des id="des">
      
                <div class="headbot">
          <div class="but">
              <button (click)="adddes(des.value)" id="adddes">اضافة</button>
            </div>
            
          </div>
      
      </div>

   

</div>