

<div class="header">

  <div class="overlay"></div>

  <nav class="navbar navbar-expand-lg navbar-light">

<div class="container">


    <a class="navbar-brand wow pulse" href="#">
      ر<span>أ</span>يك
    </a>
    <button class="navbar-toggler" style="border:0;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i style="color:#FFF" class="fa fa-bars" aria-hidden="true"></i>
  </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">الرئيسية <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" [routerLink]="['/register']">انشاء حساب</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about">عن الموقع</a>
          </li>

            <li class="nav-item">
                <a class="nav-link" href="#contact"  >اتصل بنا</a>
              </li>

      </ul>
 
    </div>
</div>

  </nav>

  <div class="container">


  <div class="header-content text-center">
    <div class="content text-center">
      <h1 class="wow fadeInUp">
        موقع
        ر<span>أ</span>يك
      </h1>
      <p class="lead">
   اختيارك الاول للحصول على اراء متابعينك بهوية مجهولة<br>
   مع خدمة استلام الرسائل على البوتات الفورية
    </p>

     

     <button class="sing" [routerLink]="['/register']" >انضم الان</button>

    </div>
  </div>
</div>

  <div class="headback"></div>

</div>


<!-- Comets -->

<div class="comets text-center" id="about">

<div class="container">

<div class="comets-content">

    <h1 class="wow fadeIn">
        لماذا استخدم 
        ر<span>أ</span>يك
        </h1>
        
        <div class="row first">
        
        <div class="col-sm wow bounceInUp">
        <img src="../../assets/img/airplane.png">
        <h2>السرعة</h2>
        <p class="lead">الحصول على اراء متابعينك وارسال الرسائل المجهولة للاخرين بسرعة عالية</p>
        </div>
        
        <div class="col-sm wow bounceInUp">
            <img src="../../assets/img/locked.png">
            <h2>الحماية</h2>
            <p class="lead">حماية فائقة لمستخدمينا نحرص على عدم تسريب اي رسائل الى اي منضمة او جهة</p>
            
          </div>
        
          <div class="col-sm wow bounceInUp">
              <img src="../../assets/img/telegram.png">
              <h2>تليجرام</h2>
              <p class="lead">بأمكانك انشاء بوت تليجرام وربطه بلموقع للحصول على الرسائل بسرعة كبيرة</p>
              
            </div>
        
        </div>
        
        <div class="row">
        
            <div class="col-sm wow bounceInUp">
                <img src="../../assets/img/get-money.png">
                <h2>مجاني</h2>
                <p class="lead">جميع الخدمات التي يقدمها موقع رأيك هية خدمات مجاني ولن تطالب باي مبلغ</p>
                
              </div>
        
              <div class="col-sm wow bounceInUp">
                  <img src="../../assets/img/customer.png">
                  <h2>الدعم</h2>
                  <p class="lead">يوفر موقع رأيك فريق دعم متكامل لتلبية وحل جميع مشاكل التي قد تواجهها</p>
                  
                </div>
        
                <div class="col-sm wow bounceInUp">
                    <img src="../../assets/img/thumbs-up.png">
                    <h2>الاداء</h2>
                    <p class="lead">سهولة الاستخدام وسرعة الاداء التي يقدمها موقع رأيك للمستخدمين والرواد</p>
                    
                  </div>
        
        </div>
        
</div>

</div>

</div>

<!-- end Comets-->


<!-- start status -->


<div class="status text-center">

<div class="container">

<h1 class="wow fadeIn">الاحصائيات</h1>

<div class="row">



<div class="col-sm wow bounceInUp">

    <img src="../../assets/img/robot.png">
    <h2>البوتات</h2>
    <p class="lead">1139</p>
  
  </div>

  <div class="col-sm wow bounceInUp">

    <img src="../../assets/img/love.png">
    <h2>الرسائل</h2>
    <p class="lead">9632</p>
    
    </div>

    <div class="col-sm wow bounceInUp" >

        <img src="../../assets/img/network.png">
        <h2>المستخدمون</h2>
        <p class="lead">1450</p>
      
    </div>

</div>

</div>

</div>





<!-- what Clients say about us -->

<section class="client text-center" id="contact">

  <div class="topback"></div>

  <div class="overlay"></div>

  <div class="container" style="z-index: 4; position: relative;">
  
  <h1>اتصل بنا</h1>
  
  <div class="row">


    <div class="col-sm">
        <input type="text" placeholder="الاسم الكامل" #fedname><br>
        <input type="text" placeholder="البريد الالكتروني" #fedmail><br>
        <textarea placeholder="الرسالة" #fedmsg></textarea><br>
        <button id="fed" (click)="fed(fedname.value,fedmail.value,fedmsg.value)" >ارسال الرسالة</button>
    </div>



  </div>

  </div>

  <div class="headback"></div>

  <div class="rec">
  </div>
  
  </section>

  <!-- start fotter -->

  <div class="fotter text-center">

    <div class="container">

<h1 class="wow fadeIn">
موقع
ر<span>أ</span>يك

</h1>

          <ul class="list-unstyled social wow bounceInUp">
            <li>
                <a target="_blank" href="https://www.youtube.com/channel/UCLHU1h5SC2u6JB4GPBhZxrQ">
                    <i class="fa fa-youtube fa-fw fa-2x"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/omarreaI">
                    <i class="fa fa-facebook fa-fw fa-2x"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/omar-bad">
                    <i class="fa fa-github fa-fw fa-2x"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/OmarReaI">
                    <i class="fa fa-twitter fa-fw fa-2x"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="#">
                    <i class="fa fa-codepen fa-fw fa-2x"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="#">
                    <i class="fa fa-instagram fa-fw fa-2x"></i>
                </a>
            </li>
        </ul>

<h2 class="wow bounceInUp">&copy;2018 جميع الحقوق محفوضة</h2>


    </div>

  </div>